extends ../../../server/views/custom-element-layout


block head-extension
  - var title = 'Color Picker';
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')


block content
  // Custom element HTML
  #content.content
    .loader
      .circle-loader
        .checkmark.draw
    .pending
      h3 Checking preview availability ...
    .ready
      h3 Preview is ready
      a.preview(href='#', target='_blank') Open web preview in a new window
    .na
      h3 Preview is not configured, please configure preview URL
    .clear

